html {
    font-size: 16px;
}
body {
    background: linear-gradient(90deg, #e27eb8, #e5b6d2);
}
h3 {
    color: white;
    text-align: center;
    font-family: var(--secondary-font-family);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    padding-top: 3vh;
    padding-bottom: 2vh;
}
p {
    color:var(--primary-color);
    font-family: var(--secondary-font-family);
    line-height: 1.5; 
}

h4 {
    color: var(--primary-color);
    font-family: var(--secondary-font-family);
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    line-height: 2;
    text-align: center;
    }
li {
    color: var(--primary-color);
    font-family: var(--secondary-font-family);
    text-transform: uppercase;
    letter-spacing: 2px;
}
header {
    background-color: white;
    padding: 4vh;
}
footer {
    padding: 4vh;
}
ul {
    display: flex;
    gap: 10vw;
    list-style-type: none;
    justify-content: center;
}
a:hover {
    color: rgb(0, 255, 0);
    font-size: 1.2rem;
}
h1 {
    font-family: var(--primary-font-family);
    color: var(--primary-color);
    font-size: 4rem;
    text-align: center;
}
.projects  {
    background-color: white;
    margin: 2vw;
    padding: 2vw;
    width: 22vw;
    border-bottom: 5px solid rgb(162, 79, 108);
    border-right: 5px solid rgb(162, 79, 108);
}
.resume-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "education-skills  experience"
                        "skills .";
    grid-gap: 4vw;
    padding-left: 12vw;
    padding-right: 7vw;
}
.education-skills {
    grid-area: education-skills;
    text-align: left;
}
.experience {
    grid-area: experience;
    text-align: left;
}
job1 {
    padding: 3vh;
}
job2 {
    padding: 3vh;
}
job3 {
    padding: 3vh;
}
job4 {
    padding: 3vh;
}
job5 {
    padding: 3vh;
}
button {
    background-color: var(--primary-color);
    color: white;
    font-family: var(--secondary-font-family);
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 20px;
    text-align: center;
}
button:hover {
    background-color: rgb(0, 255, 0);
    color: black;
    font-size: 1.1rem;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    font-size: 2rem;
    color: white;
    text-align: center;
    font-family: var(--primary-font-family);
    text-transform: lowercase;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    padding-left: 3vw;
}
.content {
   display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: ". image info .";
    grid-gap: 2rem;
}
image {
    grid-area: image;
    justify-self: center;
}
info {
    grid-area: info;
    text-align: center;
    align-self: center;
    padding-left: 2vw;
    padding-right: 2vw;
}
image{
    grid-area: image;
    justify-self: center;
}
.resume-captions {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: ". heading1 heading2 .";
    grid-gap: 2rem;
}
heading1 {
    grid-area: heading1;
    text-align: center;
}
heading2 {
    grid-area: heading2;
    text-align: center;
}
@media screen and (max-width: 768px) {
   html {
    font-size: 12px
   }
   :root {
    --font-size-h1: clamp(1rem, 3rem + 1vw ,5rem);
    --font-size-h2: clamp(1rem, 1.75rem + 1vw ,4rem);
    --font-size-h3: clamp(1rem, .75rem + 1vw ,3rem);
    --font-size-h4: clamp(1rem, 1rem + 1vw ,2.5rem);
    --font-size-li: clamp(1rem, .75rem + 1vw ,2rem);
    --font-size-button: clamp(1rem, .75rem + 1vw ,2rem);
    --font-size-p: clamp(1rem, .75rem + 1vw ,2rem);
   }
   h1 {
    font-size: var(--font-size-h1)
   }
   h2 {
    font-size: var(--font-size-h2)
   }
   h3 {
    font-size: var(--font-size-h3)
   }
   h4 {
    font-size: var(--font-size-h4)
   }
   li {
    font-size: var(--font-size-li)
   }
   ul {
    gap: 2vh;
   }
   button {
    font-size: var(--font-size-button)
   }
   p {
    font-size: var(--font-size-p)
   }
   main {
    grid-template-columns: 1fr;
   }
   .projects {
    width: 80vw;
   }
   header {
    padding: 2vh;
   }
   .content {
    grid-template-columns: 1fr;
    grid-template-areas: "image"
                        "info";
   }
   }
.education-skills {
    color: var(--primary-color);
    display: grid;
    grid-template-columns: 2fr .5fr 2fr;
    padding-left: 15vw;
    padding-right: 10vw;
    justify-content: center;
}
:root {
    --primary-color: rgb(88, 21, 135);
    --secondary-color: #e27eb8;
    --primary-font-family: homemade apple, cursive;
    --secondary-font-family: montserrat, sans-serif;
}